.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 20px;
  /* max-width: 980px; */
  min-height: 70vh;
}
.footer {
  text-align: center;
}

.sidenav .header {
  padding: 10px;
}

form {
  font-size: 14px;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0;
}
.mat-form-field {
  width: 100px;
}
.mat-button {
  padding: 0;
}
@media only screen and (max-width: 480px) {
  .hide-small-screen {
    display: none;
  }
  .mat-vertical-content {
    padding: 0 !important;
  }
}
