<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Register</h2>

      <mat-list>
        <mat-list-item>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Name"
              formControlName="name"
              required
            />
            <mat-error> Please provide a name </mat-error>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Email"
              formControlName="email"
              required
            />
            <mat-error> Please provide a valid email address </mat-error>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field class="full-width">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
              required
            />
            <mat-error> Please provide a valid password </mat-error>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field class="full-width">
            <input
              matInput
              type="password"
              placeholder="Repeat Password"
              formControlName="repeatPassword"
              required
            />
            <mat-error> Please provide above password again</mat-error>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <button [disabled]="loading" mat-raised-button color="primary">
            Register
          </button>
          <mat-spinner [diameter]="30" *ngIf="loading"></mat-spinner>
        </mat-list-item>

        <mat-list-item>
          Aready have an account? &nbsp;
          <a [routerLink]="['/login']" [queryParams]="{ returnUrl: returnUrl }"
            >Register</a
          >
        </mat-list-item>
      </mat-list>
    </form>
  </mat-card-content>
</mat-card>
