<div *ngIf="loading; else result">
  <mat-spinner></mat-spinner>
</div>

<ng-template #result>
  <div *ngIf="!error">
    <div class="back-to-result">
      <a routerLink="/">Back to result</a>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutGap.xs="0 grid">
      <div fxFlex="50%" fxFlex.xs="100%">
        <img mat-card-image [src]="product.image" />
      </div>

      <div fxFlex="25%" fxFlex.xs="100%">
        <h1>{{ product.name }}</h1>
        <app-rating
          [rating]="product.rating"
          [numReviews]="product.numReviews"
          [reviewUrl]="['/product/' + product.slug]"
        ></app-rating>
        <mat-list>
          <mat-list-item> category: {{ product.category }}</mat-list-item>
          <mat-list-item> brand: {{ product.brand }}</mat-list-item>
          <mat-list-item> description: {{ product.description }}</mat-list-item>
        </mat-list>
      </div>

      <div fxFlex="25%" fxFlex.xs="100%">
        <mat-card class="mat-elevation-z4">
          <mat-list>
            <mat-list-item>
              <div class="full-width" fxLayout="row">
                <div fxFlex="50%">Price:</div>
                <div fxFlex="50%">${{ product.price }}</div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="full-width" fxLayout="row">
                <div fxFlex="50%">Status:</div>
                <div fxFlex="50%">
                  {{ product.countInStock > 0 ? "In Stock" : "Unavailable" }}
                </div>
              </div>
            </mat-list-item>
          </mat-list>
          <mat-card-actions>
            <button
              class="full-width"
              mat-raised-button
              color="primary"
              (click)="addToCart()"
            >
              ADD TO CART
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div name="reviews">
      <h2>Reviews</h2>
      <p *ngIf="product.reviews.length === 0">No review submitted</p>
      <mat-list *ngFor="let review of product.reviews">
        <mat-list-item>
          <div>
            <p>
              <strong>{{ review.name }}</strong>
            </p>
            <app-rating [rating]="review.rating"></app-rating>
            <p>
              <strong>{{ review.comment }}</strong>
            </p>
            <mat-divider></mat-divider>
          </div>
        </mat-list-item>
      </mat-list>
      <p *ngIf="!currentUser">
        Please
        <a
          routerLink="/login"
          [queryParams]="{ returnUrl: '/product/' + product.slug }"
          >login</a
        >
        to leave a review
      </p>

      <mat-card *ngIf="currentUser">
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Leave a review</h2>

            <mat-list>
              <mat-list-item>
                <mat-form-field class="full-width">
                  <input
                    matInput
                    placeholder="Comment"
                    formControlName="comment"
                    required
                  />
                  <mat-error> Please provide a comment </mat-error>
                </mat-form-field>
              </mat-list-item>

              <mat-list-item>
                <mat-form-field appearance="fill">
                  <mat-label>Choose an option</mat-label>
                  <select formControlName="rating" matNativeControl>
                    <option value=""></option>
                    <option value="1">1-Poor</option>
                    <option value="2">2-Fear</option>
                    <option value="3">3-Good</option>
                    <option value="4">4-Very good</option>
                    <option value="5">5-Excellent</option>
                  </select>
                </mat-form-field>
              </mat-list-item>
              <mat-list-item>
                <button
                  [disabled]="createReviewLoading"
                  mat-raised-button
                  color="primary"
                >
                  Submit
                </button>
                <mat-spinner
                  [diameter]="30"
                  *ngIf="createReviewLoading"
                ></mat-spinner>
              </mat-list-item>
            </mat-list>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>
