.bg-yellow {
  background-color: yellow;
}
/* .transition {
  transition: background 0.25s ease, color 0.25s ease;
} */
.active-slide {
  background-color: green;
  color: #fff;
}
.bg-blue {
  background-color: blue;
  color: #fff;
}
